<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Venkatesh Portfolio</title>
  <!-- Favicon  -->
  <link rel="shortcut icon" type="image/png" href="static/favicon.png" />

  <!-- Bootstrap  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Fira+Code:wght@500&family=Fredoka+One&family=Varela+Round&display=swap" rel="stylesheet">


  <!-- css -->
  <link rel="stylesheet" href="static/css/styles.css">

</head>



<body>
  <!-- Navigation-->
  <section id="navigation">
    <div class="block-container">


      <nav class="navbar navbar-expand-lg navbar-light ">
        <a href="#homepage" class="navbar-brand "><span id="name-nav"> venkatesh.exe</span>

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ms-auto">

            <li class="navbar-item">
              <a class="nav-link" href="#about">
                <span class="nav-boys">About</span>
              </a>
            </li>

            <li class="navbar-item">
              <a class="nav-link" href="{{url_for('projects')}}">
                <span class="nav-boys">Projects</span>
              </a>
            </li>

            <li class="navbar-item">
              <a class="nav-link" href="#contact">
                <span class="nav-boys">Contact</span>
              </a>
            </li>

          </ul>
        </div>
      </nav>
    </div>


  </section>
  <!-- Home page -->
  <section id="homepage">

    <div class="row block-container">

      <div class="greetings col-lg-6 ">
        <h1 class="small-title">Hi,</h1>
        <h2 class="big-title"><span class="im">I'm </span><span class="name-body">Venkatesh</span></h2>
        <p class="profession">a software engineer.</p>
        <p>I am an engineering student with strong passion for tech. I like automating daily simple tasks.</p>
        <a href="#contact">
          <button type="button" class="BUTTON_PFF"><span class="mail-img"><img src="static/images/message.png" alt="email icon" width=25, height=25></span>Say Hello</button>
        </a>
      </div>


      <div class="home-gif col-lg-6">
        <img src="static/images/me-icon.gif" alt="">
      </div>
    </div>

  </section>

  <section id="about">



    <div class="page-title">
      <h2><span><img src="static/images/about.png" alt=""></span>venkatesh.<span class="name-body">profile</span></h2>
    </div>

    <!-- <div class="row"> -->
    <div class="col-lg-12">
      <p class="section-description">Computers have always piqued my interest. I am currently pursuing a BEng in Computer Science in Bits Pilani Dubai campus. Right now i am working on some Python scripting projects.</p>
    </div>

    <div class="row container bio">

      <div class="photo-div col-lg-6">
        <img src="static/images/my-photo1.jpeg" class="my-photo" alt="a picture of myself" ,width=454px, height=521px>
      </div>


      <div class="col-lg-6">
        <div class="skills-div">
          <div class="skills">
            <div class="skill-row">
              <img class="skill1_img" src="static/images/coding.gif" alt="Computer gif">
              <h3>Coding</h3>
              <p>I enjoy making stuff with code. I would spend two hours writing code to automate a two-minutes task. A.I and Machine learning fascinates me.</p>
            </div>
            <div class="skill-row">
              <img class="skill2_img" src="static/images/reading.gif" alt="Reading gif">
              <h3>Books</h3>
              <p><span class="name-body">"A reader lives a thousand lives before he dies".</span> This quote got me into reading. I love to read books, mostly self help and fiction. I try to read 50 books every year.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section id="contact">

    <div class="page-title">
      <h2><span><img src="static/images/email.png" alt=""></span>venkatesh.<span class="name-body">contact</span></h2>
    </div>

    <div class="contact-quote col-lg-12">
      <p class="contact-p">While we are good with smoke signals, there are simpler ways for us to connect.</p>
    </div>




    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-10 mx-auto ">
          <p class="section-description">Have a question or want to work together? Feel free to send me a message.</p>



         <form name="sentMessage" action="https://formsubmit.co/thesender016@gmail.com" method="POST">
            <input  class="form-control form-labels" placeholder="Name" id="n" name = "name" required>
            <input type="email" class="form-control form-labels" placeholder="Email Address" id="email" name = "email" required>
           <textarea rows="5" name = "message" class="form-control form-labels" placeholder="Your Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
           <button type="submit" class="BUTTON_MZU send-button"><span class="mail-img"><img src="static/images/sending.png" alt="mail sending icon" width=25, height=25></span>Send</button>




          </form>
        </div>
      </div>
    </div>
    <hr>
    <!-- </div> -->
  </section>

  <section id="footer">
    <div class="container icon-container">

      <div class="footer-icon">
        <a class="footer-link" href="https://twitter.com/ShotoVenkatesh"><img src="static/images/twitter.png" alt="twitter icon" width=25, height=25></a>
      </div>
      <div class="footer-icon">
        <a class="footer-link" href="https://github.com/shotovenkatesh"><img src="static/images/github.png" alt="github icon" width=25, height=25></a>
      </div>
      <div class="footer-icon">
        <a class="footer-link" href="mailto:thesender016@gmail.com.com"><img src="static/images/message.png" alt="email icon" width=25, height=25></a>
      </div>
      <div class="footer-icon">
        <a class="footer-link" href="https://www.linkedin.com/in/venkatesh-udayakumar-2126841ab/"><img src="static/images/linkedin.png" alt="linkedin icon" width=25, height=25></a>
      </div>
    </div>
    <div>
      <p class="copyright"><img src="static/images/copyright.png" alt="copyright icon" width=25, height=25>Venkatesh 2021</p>


    </div>

  </section>

</html>
